<header>
    <div class="header-info"><h1>Welcome to Cute Not Cringe Animal Art Gallery </h1>
    <p >A place where you can share painted images of your favourite animals</p>
   <button class="button"><a href="/gallery" >Go down the rabbit hole</a></button> 
    </div>
</header>