<form action="/add-post/create" method="POST">
<label>
    Title: 
    <input type="text" name="title">
</label>
<label>Artist: 
    <input type="text" name="artist">
</label>
<label>Link to Artist: 
    <input type="url" name="artistLink">
</label>
<label>Image Url: 
    <input type="url" name="imageUrl">
</label>
<button type="submit">Create a Post</button>
</form>